html {
	overflow-y: scroll;
}

.profilepicture {
    width: 100%;
    max-width: 130px;
    max-height: 130px;
    min-width: 75px;
    min-height: 75px;
}

.occupation {
    padding-top: 5px;
    font-size: calc(12px + 1vw);
}

.head {
	text-align: center;
    padding-top: 20px;
    padding-bottom: 1px;
    background: rgb(125, 156, 122);
    height: auto;
}

.headleft {
    text-align: right;
    float: none;
    display: inline-block;
}

.headright {
    padding-left: 7px;
    font-size: calc(36px + 1vw);
    font-weight: normal;
    text-align: left;
    float: none;
    display: inline-block;
}

body {
	background-color:rgb(83, 83, 83);
	color: #fff;
	font-family: arial;
	/*
	padding: 0;
	margin: 0;
	*/
}

code {
	margin: 0;
}

a {
	color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(196, 196, 196);
}

.taskbar {
	text-align: center;
	overflow: hidden;
	background-color:rgb(50, 137, 139);
	padding: 2px;
}

h1 {
	margin: 1em 1ex 0.5ex 0;
	font-size: calc(25px + 1vw);
}

h2 {
	margin: 1em 1ex 0.5ex 0;
	font-size: calc(18px + 1vw);
}

#nav {
	float: left;
	margin: 0 1px 0 0;
	padding: 1em 0;
	border-bottom: 1px solid rgb(255, 255, 255);
	width: 200px; /* should match main margin.3 */
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li a {
	display: block;
	margin: 0;
	padding: 0.8ex 2em 0.8ex 1em;
}

#main {
	margin: 0 0 0 200px; /* should match nav width */
	max-width: 50em;
	padding: 1.5em;
}

.left {
	float: left;
	margin: 0;
	padding: 0;
}

.right {
	float: right;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

address {
	text-align: center;
    padding: 10px;
}
