body {
    text-align: center;
    background-color: rgb(83, 83, 83);
    line-height: 1;
    font-family: arial;
    color: white;
}

h1 {
    font-size: 5vw;
    font-weight: normal;
    margin-bottom: 12px;
}

h2 {
    font-size: 4vw;
    font-weight: normal
}

header {
    padding: 20px;
    background: #AEC6CF;
}

footer {
    padding: 10px;
}

address {
    padding: 20px;
}

section {
    padding: 20px;
}

footer {
    background: rgb(125, 156, 122);
    text-align: right;
}

a {
    color: rgb(255, 255, 255);
}