body {
    text-align: center;
    background-color: rgb(83, 83, 83);
    line-height: 1;
    font-family: arial;
    color: white;
}

h1 {
    font-size: calc(36px + 1vw);
    font-weight: normal;
    margin-bottom: 0px;
}

h2 {
    font-size: calc(25px + 1vw);
    font-weight: normal
}

article {
    padding-inline: 10%;
}

.articlehead {
    font-size: calc(18px + 1vw);
    font-weight: normal;
}

.articletext {
    text-align: left;
}

address {
    padding: 10px;
}

a {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(196, 196, 196);
}

.head {
    padding: 10px;
    background: rgb(125, 156, 122);
    height: auto;
}

.headleft {
    width: 20%;
    float: none;
    display: inline-block;
}

.headright {
    float: none;
    width: 55%;
    display: inline-block;
}

.taskbar {
    width: auto;
    padding: 2px;
    background: rgb(50, 137, 139);
}

.profilepicture {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
}